@import 'custom';

.movie-tagline {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 5px solid $grey;
  font-family: $f-serif;
  font-style: italic;

  &::before {
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
}

img.movie-cast-member {
  max-width: 200px;
  max-height: 150px;
}

.movie-role {
  margin-bottom: $margin-sm;
}

.movie-character {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.new-review-btn {
  @extend .reel-btn;
  text-align: center;
  background-color: transparent;
  border-color: $dark;
  color: $dark;
  max-width: 120px;
  font-size: 14px;
  padding: 10px 20px;
  margin: 10px 0;
  font-style: normal;

  &:hover, &:focus {
    background-color: $dark;
    color: #fff;
  }
}

.movie-avg-rating {
  margin-left: 5px;
  font-family: $f-sans-serif;
}

.movie-title {
  @extend .profile-title;
  margin-top: 0;
}
