- if user_signed_in?
  .container
    .page-header
      h1#timeline Timeline

  ul.timeline
    = render_activities(@activities)
  = link_to('Logout', destroy_user_session_path, :method => :delete)
- else
  = render 'welcome/landing'

