/* Colors */
$grey: #ccc;

/* Fonts */
$f-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-serif: 'Sanchez', serif;

/* Margins */
$margin-xs: 5px;
$margin-sm: 15px;
$margin-md: 25px;
$margin-lg: 50px;

