@import 'https://fonts.googleapis.com/css?family=Open+Sans|Sanchez|Oswald';

/* Colors */
$grey: #ccc;
$white: #eaeaea;

/* Fonts */
$f-sans-serif: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
$f-serif: 'Sanchez', serif;
$f-strong: 'Oswald', sans-serif;

/* Margins */
$margin-xs: 5px;
$margin-sm: 15px;
$margin-md: 25px;
$margin-lg: 50px;

