@import 'variables';

body {
  font-family: $f-sans-serif !important;
}

.u-padding-md {
  margin: $margin-md;
}

.u-padding-lg {
  margin: $margin-lg;
}

.u-padding-xl {
  margin: $margin-lg + $margin-md;
}

.profile-poster {
  max-width: 250px;
}

.profile-title {
  font-family: $f-serif;
  margin-bottom: 0;
}

.profile-subtitle {
  margin: 0;
  font-style: italic;
  color: $grey;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.gallery-entry {
  align-self: flex-start;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  max-width: 230px;
  max-height: 345px;

  .overbox {
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    width: 100%;
    height: 100%;
    padding: 130px 20px;

    .overtext {
      -webkit-transition: all 300ms ease-out;
      -moz-transition: all 300ms ease-out;
      -o-transition: all 300ms ease-out;
      -ms-transition: all 300ms ease-out;
      transition: all 300ms ease-out;
      transform: translateY(40px);
      -webkit-transform: translateY(40px);
      opacity: 0;
      position: absolute;
      bottom: $margin-sm;
      left: $margin-sm;
      word-wrap: break-word;

      a {
        color: darken($white, 10%);
        font-family: $f-strong;
        text-transform: uppercase;
        font-size: 16px;

        &:hover, &:focus {
          color: $white;
          text-decoration: none;
        }
      }
    }
  }

  &:hover .overbox {
    background-color: rgba(0, 0, 0, 0.7);

    .overtext {
      opacity: 1;
      transform: translateX(0px);
      -webkit-transform: translateX(0px);
    }
  }
}

.gallery-img {
  visibility: hidden;
}
