@import 'custom';

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(white, 0.3);
  text-transform: uppercase;
  font-family: $f-sans-serif;
  background-color: $dark;
  .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: white;
    &:focus,
    &:active {
      outline: none;
    }
  }
  .navbar-brand {
    font-weight: 700;
    &:focus {
      outline: none;
    }
    &:hover, &:focus {
      color: white;
    }
  }
  a {
    color: white;
  }
  .nav {
    li {
      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;
        &:hover, &:focus {
          color: rgba(white, 0.8);
          outline: none;
          background-color: transparent;
        }
        &:focus,
        &:active {
          outline: none;
          background-color: transparent;
        }
      }
      &.active {
        outline: none;
        a {
          background-color: rgba(white, 0.3);
          &:hover, &:focus {
            color: white;
          }
        }
      }
    }
  }
}

a.navbar-brand {
  padding: 10px;
}

.nav-logo {
  @extend .reel-logo;
  font-size: 24px;
  margin: 0;
  padding: 2px 5px;
  background-color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}
