@import 'custom';

.registration-btn {
  @extend .reel-btn;
  max-width: 125px;
  min-height: 50px;
  text-decoration: none;
  font-style: none;
  margin: 0 auto;

  &:hover {
    background-color: $dark;
    color: $white;
  }
}

.registration-info {
  width: 50%;
  float: left;
}

.registration-container {
  margin: 0 auto;
}

.reel-registration-title {
  @extend .reel-logo;
  background-color: $dark;
  color: #fff;
  font-size: 50px;
}

.registration-links {
  a {
    color: $dark;
    font-family: $f-serif;
    font-size: 12px;

    &:hover, &:focus {
      color: lighten($dark, 0.4);
    }
  }
}

.forgot-password-title {
  font-family: $f-serif;
  text-align: center;
}

form .field_with_errors {
  label.message {
    @extend .label-notice;
    color: $red;
  }

  label {
    color: $red;
  }

  input {
    border-color: $red;
  }
}

