@import "custom";

.review-reliability {
  font-weight: bold;
  display: inline;
}

.review-description {
  font-family: $f-serif;
  font-style: italic;
}

.review-movie-title {
  font-family: $f-serif;
  font-size: 28px;
}

.review-movie-title-rating {
  font-family: $f-sans-serif;
  font-size: 16px;
  color: $grey;
}

.rating-container {
  span.filled-stars {
    text-shadow: none;
    color: $yellow;
  }

  span.label-default {
    background-color: $dark;
  }

  div.clear-rating {
    color: $dark;
  }
}

.review-submit-btn {
  text-align: center;

  input[type="submit"] {
    @extend .reel-btn;
    background-color: transparent;
    border-color: $dark;
    color: $dark;
    max-width: 175px;
    font-size: 14px;
    padding: 15px 20px;

    &:hover, &:focus {
      background-color: $dark;
      color: #fff;
    }
  }
}

.review-poster {
  max-width: 150px;
}

h4.review-title {
  font-family: $f-serif;
  display: inline;
  a {
    color: $dark;

    &:hover, &:focus {
      color: lighten($dark, 20);
    }
  }
}

.review-info-container {
  display: flex;

  .review-links-container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 15px;
  }
}

.review-vote-container {
  display: inline-block;
  padding: 0 5px;
}

.review-vote {
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;

  &.up {
    color: $green;
  }

  &.down {
    color: $red;
  }
}

.review-reliability .badge {
  margin-right: 5px;
}
