@import 'variables';

html.landing {
  overflow-y: none;
}

.landing-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
}
