body{
    text-align: center;
    font-family: sans-serif;
}


h2{
    font-weight: 300;
    margin-top: 0px;
    padding-top: 0;
    font-size: 22px;
}

h1{
    font-weight: 400;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: #3366CC;
    padding: 10px 5px;

}

a:hover {
    text-decoration: underline;
}

ul{
    padding: 0;
    list-style-type: none;
}

img{
    width: 500px;
    border: solid #3e3e3e 3px;
    border-radius: 4px;
}
